In [2]:
import numpy as np
import pandas as pd

In [5]:
results = pd.read_csv(r'C:\users\USER\.vscode\python1\practice folder\all_files\online_gaming_insights.csv')
results.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [36]:
results.iloc[0:4, 0:4]

   PlayerID  Age  Gender Location
0      9000   43    Male    Other
1      9001   29  Female      USA
2      9002   22  Female      USA
3      9003   35    Male      USA